<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <queries>
        <intent>
            <action android:name="android.intent.action.CHOOSER"/>

            <data android:scheme="upi"/>
        </intent>

        <package android:name="com.google.android.apps.nbu.paisa.user"/>
        <package android:name="com.phonepe.app"/>
        <package android:name="net.one97.paytm"/>
    </queries>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/Theme.Aexox"
            android:usesCleartextTraffic="true"
            tools:targetApi="31">
        <activity
                android:name=".PaymenyCheck"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".StoreSelect"
                android:exported="false"
                android:label="@string/title_activity_store_select"
                android:theme="@style/Theme.Aexox.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <service android:name=".DownloadService"
                 android:enabled="true"
                 android:exported="false" />
        <activity
                android:name=".ConfirmPage"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".PdfOptions"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".printstatus"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>

        <activity
                android:name=".LinkCheck"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="aerox-8c69c.firebaseapp.com"
                        android:scheme="https"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Sentmaillink"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Passwordlesslogin"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".otpsent"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".XeroxSelect"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".LinkPage"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".UserPage"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".UploadPdf"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".MainPage"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".UserProfilePage"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".onBording"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".PaymentPage"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".otpVerifaction"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".OtpverificationPage"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".PdfView"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".PdfPrint"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".PdfPage"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".Login"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".SignUp"
                android:exported="false">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>